---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tienda" description="Eccomerce site, blog, courses, and more">
	<main class="contenedor">
		<h1 class="heading">Tienda virtual</h1>

	</main>
</Layout>

<style>
</style>
